.header-container {
    display: flex;
    justify-content: space-between;
    margin: 48px;
    align-items: center;


}

nav {
    border-bottom: 1px solid rgb(236, 229, 214);
}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 48px;
}

a:hover {
    color: bisque;
}